In [1]:
!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install seaborn

Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\lenovo\anaconda3\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: seaborn in c:\users\lenovo\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\lenovo\anaconda3\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\lenovo\anaconda3\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lenovo\anaconda3\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plot
import seaborn as sns

In [3]:
data=pd.read_csv("GenZ_DatingApp_Data.csv")

In [51]:
data.head

<bound method NDFrame.head of      User_ID  Age      Gender   Location      Education     Occupation  \
0          1   20  Non-binary  Bangalore  Undergraduate     Freelancer
1          2   24      Female      Delhi  Undergraduate  Part-time Job
2          3   24  Non-binary    Kolkata  Undergraduate         Intern
3          4   22  Non-binary      Delhi       Graduate  Full-time Job
4          5   18        Male      Delhi       Graduate         Intern
..       ...  ...         ...        ...            ...            ...
495      496   23      Female     Mumbai  Undergraduate         Intern
496      497   23        Male     Mumbai   Postgraduate         Intern
497      498   22        Male  Hyderabad       Graduate     Freelancer
498      499   21      Female    Kolkata       Graduate        Student
499      500   22        Male     Mumbai       Graduate  Part-time Job

    Primary_App Secondary_Apps Usage_Frequency Daily_Usage_Time  \
0         Hinge          Hinge         Monthly           1 hour
1         Hinge        OkCupid          Weekly       30 minutes
2       OkCupid          Hinge          Weekly          2 hours
3       OkCupid        OkCupid           Daily       30 minutes
4       OkCupid        OkCupid          Weekly          2 hours
..          ...            ...             ...              ...
495      Tinder          Hinge          Weekly        1.5 hours
496     OkCupid         Tinder           Daily          2 hours
497     OkCupid          Hinge         Monthly          2 hours
498      Tinder          Hinge           Daily        1.5 hours
499     OkCupid          Hinge          Weekly        1.5 hours

      Reason_for_Using  Satisfaction               Challenges  \
0    Finding a Partner             4          Safety Concerns
1        Casual Dating             5             Time-Wasting
2        Casual Dating             4          Safety Concerns
3           Casual Fun             3  Lack of Genuine Matches
4           Casual Fun             4          Safety Concerns
..                 ...           ...                      ...
495      Casual Dating             2  Lack of Genuine Matches
496         Casual Fun             1             Time-Wasting
497         Casual Fun             2  Lack of Genuine Matches
498      Casual Dating             3  Lack of Genuine Matches
499         Casual Fun             2             Time-Wasting

       Desired_Features Preferred_Communication  \
0           Audio Calls             Video Calls
1           Video Calls                    Text
2     Detailed Profiles                    Text
3    AI Recommendations             Voice Notes
4           Video Calls                    Text
..                  ...                     ...
495         Audio Calls             Voice Notes
496         Video Calls             Video Calls
497         Video Calls             Voice Notes
498   Detailed Profiles                    Text
499  AI Recommendations             Video Calls

                       Partner_Priorities
0       Values > Personality > Appearance
1       Values > Personality > Appearance
2       Values > Personality > Appearance
3        Personality > Interests > Values
4    Appearance > Interests > Personality
..                                    ...
495      Personality > Interests > Values
496     Values > Personality > Appearance
497  Appearance > Interests > Personality
498  Appearance > Interests > Personality
499  Appearance > Interests > Personality

[500 rows x 16 columns]>

In [49]:
data.head()

,User_ID,Age,Gender,Location,Education,Occupation,Primary_App,Secondary_Apps,Usage_Frequency,Daily_Usage_Time,Reason_for_Using,Satisfaction,Challenges,Desired_Features,Preferred_Communication,Partner_Priorities
0,1,20,Non-binary,Bangalore,Undergraduate,Freelancer,Hinge,Hinge,Monthly,1 hour,Finding a Partner,4,Safety Concerns,Audio Calls,Video Calls,Values > Personality > Appearance
1,2,24,Female,Delhi,Undergraduate,Part-time Job,Hinge,OkCupid,Weekly,30 minutes,Casual Dating,5,Time-Wasting,Video Calls,Text,Values > Personality > Appearance
2,3,24,Non-binary,Kolkata,Undergraduate,Intern,OkCupid,Hinge,Weekly,2 hours,Casual Dating,4,Safety Concerns,Detailed Profiles,Text,Values > Personality > Appearance
3,4,22,Non-binary,Delhi,Graduate,Full-time Job,OkCupid,OkCupid,Daily,30 minutes,Casual Fun,3,Lack of Genuine Matches,AI Recommendations,Voice Notes,Personality > Interests > Values
4,5,18,Male,Delhi,Graduate,Intern,OkCupid,OkCupid,Weekly,2 hours,Casual Fun,4,Safety Concerns,Video Calls,Text,Appearance > Interests > Personality

In [31]:
#- if i were a new data scientist joining a project , i would need to  : 
#. understand the data structure (columns,data types ,missing values, outliers)
#. know the business context 
#. Track changes over time 
data.shape
data.describe()

          User_ID         Age  Satisfaction
count  500.000000  500.000000    500.000000
mean   250.500000   21.582000      2.906000
std    144.481833    2.259532      1.441291
min      1.000000   18.000000      1.000000
25%    125.750000   20.000000      2.000000
50%    250.500000   22.000000      3.000000
75%    375.250000   24.000000      4.000000
max    500.000000   25.000000      5.000000

In [53]:
# A good column description should be:
#Clear & concise, Explain the purpose,Include data types & units,Mention possible values and Describe missing values
data_dictionary = pd.DataFrame({
    'Column Name': data.columns,
    'Data Type': data.dtypes.values,
    'Missing Values': data.isnull().sum().values,
    'Unique Values': [data[col].nunique() for col in data.columns],
    'Sample Values': [data[col].unique()[:5] for col in data.columns]  
})

display(data_dictionary)

,Column Name,Data Type,Missing Values,Unique Values,Sample Values
0,User_ID,int64,0,500,"[1, 2, 3, 4, 5]"
1,Age,int64,0,8,"[20, 24, 22, 18, 23]"
2,Gender,category,0,3,"['Non-binary', 'Female', 'Male'] Categories (3..."
3,Location,category,0,7,"['Bangalore', 'Delhi', 'Kolkata', 'Mumbai', 'C..."
4,Education,category,0,3,"['Undergraduate', 'Graduate', 'Postgraduate'] ..."
5,Occupation,category,0,5,"['Freelancer', 'Part-time Job', 'Intern', 'Ful..."
6,Primary_App,category,0,4,"['Hinge', 'OkCupid', 'Tinder', 'Bumble'] Categ..."
7,Secondary_Apps,category,0,4,"['Hinge', 'OkCupid', 'Tinder', 'Bumble'] Categ..."
8,Usage_Frequency,category,0,3,"['Monthly', 'Weekly', 'Daily'] Categories (3, ..."
9,Daily_Usage_Time,category,0,5,"['1 hour', '30 minutes', '2 hours', '1.5 hours..."
10,Reason_for_Using,category,0,4,"['Finding a Partner', 'Casual Dating', 'Casual..."
11,Satisfaction,int64,0,5,"[4, 5, 3, 2, 1]"
12,Challenges,category,0,3,"['Safety Concerns', 'Time-Wasting', 'Lack of G..."
13,Desired_Features,category,0,5,"['Audio Calls', 'Video Calls', 'Detailed Profi..."
14,Preferred_Communication,category,0,3,"['Video Calls', 'Text', 'Voice Notes'] Categor..."
15,Partner_Priorities,category,0,3,"['Values > Personality > Appearance', 'Persona..."

In [ ]:
# To track changes in a dataset over time the best way will be 
#Use Version Control (DVC/Git) to track versions and changes efficiently.
#Use Delta Tables for large datasets in distributed systems.
#Add timestamps for every update to keep a history of when data changes.
#Maintain a change log (manual or automated) to capture the reasoning behind updates.
#Compare dataset versions to identify specific differences between versions